html, body{
	margin: 0;
	padding: 0;
	
	height: 100%;
	font-family: 'Lato', sans;
	
	color: #ffffff;
	background-color: #111111;
}

table {
	margin: 16px;
	border-collapse: collapse;
}

td {
	text-align: right;
	
	padding: 4px;
	width: 50px;
}

h1{
	margin: 0;
	padding: 0;
	
	font-size: 44px;
	font-weight: 900;
}

hr {
	border: 1px solid #333333;
}

#container{
	text-align: left;
	
	height: 100%;
	background-color: #202020;
	width: 920px;
	
	border-left: 8px solid #141414;	
	border-right: 8px solid #141414;
}

#banner{
	text-align: right;
	
	height: 20%;
	background-color: #1b1b1b;
}

.AC {
	text-align: right;
	color: #00cc00;
}
.WA {
	text-align: right;
	color: #cc0000;
}
.NA {
	text-align: right;
	color: #666666;
}
.update {
	text-align: right;
	color: #888888;
}